I asked: <%= @question %>
<br>
And to ignore: <%= @ignore %>
<br>
You responded: <%= @user_input %>
<br>
<br>
<h1><%= @correct ? "Looks like you're a real person!" : "WARNING: ALIEN TROLL DETECTED!" %></h1>
